/build
/jujtsu_part1.pdf
/jujutsu kaisen
/Jujutsukaisen_part1.pdf
/Jujutsukaisen_part10.pdf
/Jujutsukaisen_part11.pdf
/Jujutsukaisen_part2.pdf
/Jujutsukaisen_part3.pdf
/Jujutsukaisen_part4.pdf
/Jujutsukaisen_part5.pdf
/Jujutsukaisen_part6.pdf
/Jujutsukaisen_part7.pdf
/Jujutsukaisen_part8.pdf
/Jujutsukaisen_part9.pdf
/mangatopdf.spec
/.pdf